h2 Your Cart
table.table
 = render (cart.line_items)
  tr.total_line
    td colspan = 2 Total 
    td.total_cell = number_to_currency(@cart.total_price) 
= button_to 'Опустошить корзину', @cart, class:'btn btn-info', method: :delete, data: {confirm: "Are you sure?"}
= link_to 'Edit', edit_cart_path(@cart), class:'btn btn-info'  
= link_to 'Back', carts_path, class:'btn btn-info'