- @cart.line_items.each do |item| 
  tr 
    td = item.quantity  
    td = item.product.title
    td = number_to_currency(item.product.price)
    td = button_to 'Удалить товар', item, class:'btn btn-info', method: :delete, data: {confirm: 'Are you sure'} 