<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="head row">
   <h1>Your Pragmatic Catalog</h1>
   <% if session[:counter] > 5 %>
      <h3>This page views <%= pluralize session[:counter], 'time' %></h3>
   <% end %>
</div>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
      <br/>
          <%= image_tag(product.image_url) %>
          <h3><%= product.title %></h3>
              <%= sanitize(product.description) %>
          <div class="price_line">
              <span class="price"><%= number_to_currency(product.price, unit: "грн", format: "%n %u") %></span>
              <%= button_to 'Add to Cart', line_items_path(product_id: product), class:'btn btn-info' %>
            </div>
        </div> 
      <% end %>
    <% end %>
  <% end %>