doctype html
html
  head
    title
      | Magazin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.<ruby.code="=.controller.controller_name"></ruby>
    #banner
      = image_tag("logo.png")
      = @page_title || "Pragmatic Bookshelf"
    #columns
      #side      
        ul
          li
            a[href="http://www...."]
              | Home
          li
            a[href="http://www..../faq"]
              | Questions
          li
            a[href="http://www..../news"]
              | News
          li
            a[href="http://www..../contact"]
              | Contact
        .times
          = Time.now
      #main
        = yield
